<link rel="stylesheet" type="text/css" href="~/css/Submenu.css">
<nav>
    <ul>
      
      <li><a href="#">Pre-Stage</a>
        <ul>
            <li><a href="/staging/List-Staged">List</a></li>
            <li><a href="/staging/New-PreStage">New Host</a></li>
        </ul>
      </li>
      <li><a href="#">Make/Model</a>
        <ul>
            <li><a href="~/staging/List-Make-Model">List</a></li>
            <li><a href="~/staging/New-Make-Model">Define</a></li>
        </ul>
      </li>    
    </ul>
</nav>
<hr>